* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body {
    font-family: sans-serif;
    background-color: rgb(240, 240, 240);
    box-sizing: border-box;
}
#content {
    box-sizing: border-box;
    position: absolute;
    top: 8px;
    left: 8px;
    right: 8px;
    bottom: calc(8% + 8px);
    width: calc(100vw - 16px);
    border-radius: 13px;
    background-color: rgb(255, 255, 255);
    padding: 30px;
    box-shadow: 0 0 5px rgb(188, 188, 188);
}
footer {
    display: flex;
    justify-content: space-around;
    position: fixed;
    height: 8%;
    width: 100vw;
    top: calc(100% - 8%);
    left: 0;
    background: rgb(74, 74, 74);
    box-shadow: 0 0 10px rgb(88, 88, 88);
}
.menuItem {
    height: 6vh;
    margin-top: 1vh;
}
.btn {
    padding: 7px;
    border: none;
    border-radius: 8px;
    background-color: rgb(74, 74, 74);
    box-shadow: 0 0 5px rgb(188, 188, 188);
    color: rgb(255, 255, 255);
    text-align: center;
    min-width: 30vw;
    outline: none;
}
